/* Home.css */
.home {
    background-image: url(/src/Components/img/Desktop\ -\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center bottom;
    height: 100vh;
    width: 100vw;
  }
img{
    position: absolute;
    top:100%;
    left: 35%;

}
  
  