/* Home.css */
.home {
    background-image: url("./img/Desktop\ -\ 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
  }

.btnin {
    background-image: url("./img/Entrar.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute !important;
    border-radius: 30px;
    width: 30vw;
    height: 10vw;
    top: 85% !important;
    left: 60% !important;
    transform: translate(-80%, -40%) !important;
    padding: 2vw 4vw !important;
}

body{
    background-color:yellow ;
}
  
  